body {
    background-color: #C02B3B;
    margin: auto;
    width: 50%;
  color: aliceblue;
    padding: 10px;
    font-family: cursive;
  
  
}

p1 {
    color: aliceblue;
    font-size: 50px
    
}

p2 {
    
    color: aliceblue;
}

